/* Général */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    Font-family: Verdana, Geneva, sans-serif;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    background: #034141;
}

.read-only {
    visibility: hidden;
    position: absolute;
}

img {
    width: 20px;
}

ul {
    list-style: none;
}

/* End Général */

/* Cartes */
.main-header {
    display: flex;
    justify-content: space-around;
    background: #034141;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
}

.header-title {
    text-align: Left;
    font-size: clamp(1.2rem, 6vw, 2.3rem);
}

.task-info {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
}

.task-nbr {
    font-size: 1rem;
    padding: 5px;
    font-weight: 700;
}

.form-header-title {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
}

.header-newTask {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: white;
    font-weight: 700;
    font-size: 2rem;
}

.header-newTask:hover {
    background: rgb(165, 165, 165);
}

.main-container {
    margin: 0 clamp(2px, 3vw, 50px);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background: #658181;
    border-radius: 5px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-group {
    color: black;
    display: flex;
    margin: 3px;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 5px;
}

.card-left {
    display: flex;
}

.card-checkbox {
    align-self: start;
    margin: 5px;
}

.card-title {
    padding: 1px clamp(1px, 2vw, 15px);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 3px;
}

.card-description {
    padding: 0 10px;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: justify;
}

.card-button {
    align-self: top;
    display: flex;
    padding: 0 clamp(1px, 2vw, 15px);
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

/* End Cartes */
/* Formulaire */
.form-header-title{
    text-align: center;
}
.form-submit {
    width: 80vw;
    max-width: 500px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background: #658181;
    ;
}

.submit-group {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.submit-group label {
    padding: 5px;
}

.submit-group input {
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
}

.submit-group textarea {
    height: 60px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}

.submit-group-button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.submit-button {
    width: 150px;
    color: black;
    text-decoration: none;
    text-align: center;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 0 5px black;
}

.submit-button:hover {
    background: rgb(165, 165, 165);
}

/* End Formulaire */