/* Général */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    Font-family: Verdana, Geneva, sans-serif;
    padding: 0 clamp(2px, 3vw, 50px);
    max-width: 1500px;
    margin: 0 auto;
}

.read-only {
    visibility: hidden;
    position: absolute;
}

img {
    width: 20px;
}

ul {
    list-style: none;
}

/* End Général */

/* Cartes */
.main-header {
    padding : 10px 30px;
}

.header-title {
    text-align: Left;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
}
.task-info{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
}

.task-nbr{
    font-size: 1rem;
    padding: 5px;
    font-weight: 700;
}
.form-header-title{
    text-align: center;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
}

.header-newTask {
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    width: 150px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: grey;
    margin: 15px auto;
    font-weight: 700;
    box-shadow: 5px 5px rgb(50, 50, 50);
}
.header-newTask:hover {
    background: rgb(165, 165, 165);
}

.main-container{
    margin-top: 10px;
    background-color:rgb(215, 215, 215);
    height: 70vh;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    overflow: scroll;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-group {
    flex: 1 1 300px;
    height: 60px;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(105, 105, 105);
}

.card-left {
    display: flex;
}

.card-checkbox {
    margin: 15px;
}

.card-text {
    overflow: scroll;
    height: 55px;
}

.card-title {
    padding: 2px;
    padding-left:5px;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    background: white;
    font-weight: 700;
    font-size: 1rem
}

.card-description {
    padding: 0 10px;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: justify;
}

.card-button {
    align-self: center;
    display: flex;
    padding: clamp(1px, 2vw, 15px);
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

/* End Cartes */
/* Nouvelle tâche */
.form-addTask {
    width: 80vw;
    max-width: 500px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    background: rgb(215, 215, 215);;
}

.addTask-group {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.addTask-group label{
    padding: 5px;
}

.addTask-group input{
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
}

.addTask-group textarea{
    height: 60px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}

.addTask-group-button{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.addTask-button {
    width: 150px;
    text-decoration: none;
    text-align: center;
    background: gray;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 5px 5px rgb(75, 75, 75);
}
.addTask-button:hover {
    background: rgb(165, 165, 165);
}

/* End Nouyvelle tâche */